build

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/app-bow/build/
/app-dropdown/build/
/captures
.externalNativeBuild
.idea

google-services.json
output-metadata.json
*.apk
*.aab

# Sentry Config File
sentry.properties

*/**/release/
*/**/.cxx/

.kotlin